<h1>All posts</h1>

<%= form_for :post, url: search_path, method: :get do |f| %>
  <%= f.text_field :term, list: "list", placeholder: "search field", name: "query" %><br/>
  <datalist id="list" ></datalist>
  <%= f.submit "Search" %>
<% end %>

<div>
  <% @posts.each do |p| %>

    <a href="posts/<%=p.id%>">
      <h4><%= p.caption %></h4>
    </a>

     <br>
    <%= image_tag(p.photo.thumb.url || "/asdkubakdjb") %><br>

    <div>
      <a href="http://www.google.com">Google</a>
    </div>

  <% end %>
</div>

  <script>
    $(document).on('turbolinks:load', function(){
      $("#post_term").keyup(function() {
        autocomplete()
      });

  function autocomplete() {
        $.ajax ({
          url: '/posts/ajax_search',
          type: 'GET',
          data: {query: $("#post_term").val()},
          dataType: 'json',
          error: function(){
            console.log ("Error occurred");
          },

          success:function(data){
            document.querySelector('#list').innerHTML = ""
            data.forEach(function(element) {
              var option = document.createElement("option");
              option.value = element;
              $("#list").append(option);

            });
          }
        });
      }
    });
  </script>
