<div class="container-fluid">
<h1>All posts</h1>

<%= form_for :post, url: search_path, method: :get do |f| %>
  <%= f.text_field :term, list: "list", placeholder: "search field", name: "query" %><br/>
  <datalist id="list" ></datalist>
  <%= f.submit "Search" %>
<% end %>
</div>

<div class="container-fluid">
  <% @posts.each do |p| %>

  <div class="d-inline-flex p-2 ">

        <div class="card" style="width: 18rem;" >
          <a href="posts/<%=p.id%>">
            <h4 class="card-header"><%= p.caption %></h4>
          </a>
     <br>

    <%= image_tag(p.photo.thumb.url || "/asdkubakdjb") %>

    <div class="card-body text-body">
      <a href="http://www.google.com">Google</a>
        </div>
      </div>
    </div>
  </div>


  <% end %>
</div>

  <script>
    $(document).on('turbolinks:load', function(){
      $("#post_term").keyup(function() {
        autocomplete()
      });

  function autocomplete() {
        $.ajax ({
          url: '/posts/ajax_search',
          type: 'GET',
          data: {query: $("#post_term").val()},
          dataType: 'json',
          error: function(){
            console.log ("Error occurred");
          },

          success:function(data){
            document.querySelector('#list').innerHTML = ""
            data.forEach(function(element) {
              var option = document.createElement("option");
              option.value = element;
              $("#list").append(option);

            });
          }
        });
      }
    });
  </script>
